.Sprites {
  margin: auto;
}

.option-carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.option-item {
  padding: 10px 20px;
  cursor: pointer;
  border: 2px solid #3c59a5;
  border-radius: 50px;
  background-color: #3c59a5;
  transition: background-color 0.3s;
  min-width: 50px;
  color: #ffcc03;
}

.option-item.selected {
  background-color: #ffcc03;
  color: #3c59a5;
  border: 2px solid #3c59a5;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}
