.PokemonMove {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;
  border: 2px solid #000; /* Adiciona uma borda preta */
  border-radius: 10px; /* Arredonda os cantos da borda */
  padding: 1rem; /* Adiciona espaçamento interno */
  background-color: rgba(0, 0, 0, 0.3); /* Cor preta com 10% de opacidade */
}

.PokemonImg {
  height: 64px;
}
