.PokemonMove {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  border: 2px solid #000; /* Adiciona uma borda preta */
  border-radius: 10px; /* Arredonda os cantos da borda */
  padding: 1rem; /* Adiciona espaçamento interno */
  background-color: rgba(0, 0, 0, 0.3); /* Cor preta com 10% de opacidade */
  min-width: 320px;
}

/* .PokemonImg {
  height: 128px;
} */

.MoveTypeImg {
  height: 2rem;
}

.pokeInfoLine {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
